html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}
.containerFooter {
    color: #ffffff;
}

.imgLogo {
    width: 28%;
    height: 28%;
}
.git{
    width:2%;
    height:2%;
}
 